*
{
	margin: 0;
	padding: 0;

}

body
{
	margin: 0;
	padding: 0;
}
header
{
	background-color: #A91CDA;
	margin: 0;
	color: #fff;
	padding: 20px;
	min-height: 10px;
}
.estilobnt
{
	color: #fff;
	border: 0;
	height: 30px;
	width: 110px;
	background-color: #F053FA;
	margin-top:-000000000037px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px; 
}
header form
{
	display: flex;
	align-items: center;
	width: 110px;
	float: right;
}
header h3
{
	text-align: center;
	padding-top: 5px;
	font-size: 30px;
}
section
{
	margin: 0;
	padding: 0;
	width: 250px;
	margin-left: 200px;
	margin-top: 50px;
}
section h2
{
	text-align: center;
}
.centrar
{
	text-align: center;
	color: black;
	margin: 0;
	padding: 0;
	width: 400px;
	margin-top: 50px;
	margin-left: 500px;
	font-size: 20px;
}