*
{
	margin: 0;
	padding: 0;
}
header
{
	background-color: #A91CDA;
	color: #fff;
	margin: 0;
	padding: 20px;
}
header h1
{
	text-align: center;
}
section
{
	margin: 0;
	margin-top: 50px;
	width: 50%;
	margin-left: 28%;
	font-size: 27px;
}
section form
{
	float: right;
}
.btnacepto
{
	border: 0;
	color: #fff;
	width: 160%;
	font-size: 20px;
	background-color: #F053FA;
	border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}